@model AsyncInn.Models.RoomAmenities

@{
    ViewData["Title"] = "Room Amenities - Edit";
}

<h1 class="title">Edit Room Amenity</h1>

<h4>RoomAmenities</h4>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="RoomID" />
            <input type="hidden" asp-for="AmenitiesID" />
            <div>
                <input type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="back">Back to List</a>
</div>