<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Yellowtail|Gravitas+One" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/Reset.css" />
    <link rel="stylesheet" href="~/Styles/Base.css" />
    <link rel="stylesheet" href="~/Styles/Layout.css" />
    <link rel="stylesheet" href="~/Styles/Module.css" />
</head>
<body>
    <header>
        <h1 id="logo">Async Inn</h1>
        <h1 id="slogan">Live Asynchronously!</h1>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
