<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Yellowtail|Gravitas+One" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/Reset.css" />
    <link rel="stylesheet" href="~/Styles/Base.css" />
    <link rel="stylesheet" href="~/Styles/Layout.css" />
    <link rel="stylesheet" href="~/Styles/Module.css" />
</head>
<body>
    <header>
        <h1 id="logo">Async Inn</h1>
        <h1 id="slogan">Live Asynchronously!</h1>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="Hotels" asp-action="Index">Hotels</a>
                </li>
                <li>
                    <a asp-controller="Rooms" asp-action="Index">Rooms</a>
                </li>
                <li>
                    <a asp-controller="Amenities" asp-action="Index">Amenities</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="renderbody">
        @RenderBody()
    </div>
</body>
</html>
